<html>
    <body>
        <h1>
            Liste Utilisateurs
        </h1>
        <a href="/user-new ">Nouveau Utilisateur</a>
<div>
        <table style="width: 60%;">
            <thead>
                <th>ID</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <% for(let resultats of resultat) { %>
                <tr>
                    <td><%=resultats.id%></td>
                    <td><%=resultats.nom%></td>
                    <td><%=resultats.prenom%></td>
                    <td><%= resultats.age %></td>
                    
                    <td>
                        <a href="/user/<%= resultats.id%>">Afficher</a>
                        <a href="/user/<%= resultats.id%>/editer">Editer</a>
                        <a href="/user/<%= resultats.id%>/delete">Supprimer</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    </body>
</html>